<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>SkeletonAPP</ion-card-title>
        <ion-card-subtitle>Aquí comienza todo</ion-card-subtitle>
        <ion-card-title>Bienvenido!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list> 
            <ion-item>
              <ion-input type="text" [(ngModel)]="user.username" label="Usuario" labelPlacement="floating" placeholder="Ingrese su usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]= "user.password" label="Password" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
            </ion-item>
            <ion-button fill ="outline" (click)= "validar()">Ingresar</ion-button> <br>
            <ion-button fill="clear">Crea tu cuenta Aquí</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
